* {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E",
    "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif !important;
}
body {
  overflow-x: hidden;
  background-color: #f6f4ef;
}
p {
  margin-bottom: 0 !important;
  line-height: 2;
}
h3 {
  font-size: 1.3rem !important;
}
.bg-title {
  background-color: #ffdea8;
  padding: 10px;
  margin-bottom: 20px;
}
.bg-white {
  background-color: #fff;
}
.bg-orange {
  background-color: #fad8bd;
}
.bg-thinbrown {
  background-color: #ffd9af;
}
.bg-thinorange {
  background-color: #fcf0e5;
}
.bg-skin {
  background-color: #fff6eb;
}
.text-brown,
h2 {
  color: #9a4b07;
}
.text-thinbrown,
p,
li {
  color: #bf7c42;
}
.text-question {
  color: #9a4b07;
  text-shadow: 0 3px 6px #9d9494;
}
.text-white {
  color: #fff;
}
.top-text {
  color: #bf7757;
}
.stress {
  font-size: 1.3rem;
  color: #9a4b07;
  margin-left: 200px;
}
.text-bright {
  color: #FF7600;
}
.container,
.container-noside {
  margin-top: 140px;
  position: relative;
  z-index: 10;
}
.container {
  padding: 25px 25px;
}
.container-noside {
  padding: 25px 0;
}
.box {
  border-radius: 40px;
  padding: 25px !important;
  margin-bottom: 40px;
  position: relative;
}
#tomodesign {
  margin-bottom: 100px;
}
/*ラインのボタン*/
.line-wrap {
  position: relative;
  z-index: 10; 
}
.line-wrap a {
  display: inline-block;
  color: #fff;
  background-color: #dd5b1a;
  text-decoration: none;
  padding: 10px 40px 10px 20px;
  border-radius: 50px;
  text-align: center;
  margin: 0;
}
.line-wrap a::before {
  content: "";
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 0;
  width: 0px;
  transform: rotate(45deg);
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  position: absolute;
  padding: 6px;
  transition: 0.5s;
}
.line-wrap a:hover::before {
  right: 10px;
}
.line-wrap a:hover {
  text-decoration: none;
  color: white;
}
/*ラインのボタンここまで*/

/*ヘッダー*/
header {
  height: 60px;
  background-color: #674e08;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .title {
  padding: 13px 25px;
  font-size: 1.4rem;
}
body header .menu-trigger {
  display: block;
  width: 30px;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 10px;
  right: 25px;
  cursor: pointer;
}
header .menu-trigger span {
  height: 1.5px;
  width: 30px;
  background: #fff;
  display: block;
  position: absolute;
  right: 0;
  transition: 0.5s;
}
header .menu-trigger span:nth-child(1) {
  top: 10px;
}
header .menu-trigger span:nth-child(2) {
  top: 20px;
}
header .menu-trigger span:nth-child(3) {
  top: 30px;
}
body header .menu-block {
  top: -100%;
  transition: 1s;
  width: 300px;
  height: 0;
  right: 0;
  position: absolute;
  z-index: -10;
}
body header .menu-block .content,
body header .menu-block .line-wrap {
  display: none;
}
body.open header .menu-block {
  display: block;
  position: absolute;
  top: 60px;
  width: 300px;
  height: 100vh;
  right: 0;
  background: #fff;
  transition: 0.5s;
  padding-top: 50px;
}
body.open header .menu-block .content {
  text-align: center;
  margin-top: 20px;
  display: block;
}
body.open header .menu-block .content a {
  text-decoration: none;
  color: #bf7757;
  font-size: 1.3rem;
}
body.open header .menu-block .line-wrap {
  display: block;
}
body.open header .menu-trigger span:nth-child(1) {
  transform: rotate(45deg);
  top: 20px;
}
body.open header .menu-trigger span:nth-child(2) {
  display: none;
}
body.open header .menu-trigger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 20px;
}
/*ヘッダーここまで*/

/*フッター*/
footer {
  height: 50px;
  background-color: #674e08;
  position: relative;
  z-index: 10;
}
footer .scroll-up {
  display: block;
}
footer .scroll-up {
  border-radius: 50%;
  background-color: #fff;
  border: solid 2px #707070;
  width: 40px;
  height: 40px;
  bottom: 15px;
  right: 10px;
  position: fixed;
  z-index: 100;
}
footer .scroll-up::before {
  content: "";
  border-top: solid 2px #707070;
  border-right: solid 2px #707070;
  padding: 8px;
  transform: rotate(-45deg);
  display: block;
  top: 35%;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  width: 0;
}
footer .copyright {
  padding: 15px;
  font-size: 0.7rem;
}
/*フッターここまで*/

/*ふぇいどいん*/
.fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}
.fadein.active {
  opacity: 1;
  transform: translate(0, 0);
}
/*フェイドイン*/

/*トップ部分*/
#tomodesign .top-container {
  height: 100vh;
  background-color: #f6f4ef;
  /*z-index: 10;*/
  box-shadow: 10px 10px 15px #f6f4ef;
}
#tomodesign .top-container .img-wrap {
  height: 100%;
  position: fixed;
  z-index: 0;
}
#tomodesign .top-container .title-wrap {
  bottom: 20%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 25px;
  display: none;
  position: relative;
  z-index: 20;
}
#tomodesign .top-container .title-wrap h1 {
  font-size: 8vw;
}
#tomodesign .top-container .scroll {
  left: 0;
  right: 0;
  margin: auto;
  bottom: 15%;
  z-index: 20;
}
#tomodesign .top-container .scroll:hover {
  text-decoration: none;
  color: #9a4b07;
  opacity: 0.6;
}
#tomodesign .top-container .scroll::before,
#tomodesign .top-container .scroll::after {
  content: "";
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  background: #9a4b07;
  bottom: -15px;
}
/*#tomodesign .top-container .scroll:hover::before,
#tomodesign .top-container .scroll:hover::after {
  bottom: -25px;
}*/
#tomodesign .top-container .scroll::before {
  transform: rotate(45deg);
  left: calc(50% - 17px);
  -webkit-animation: al 1s infinite;
  animation: al 1s infinite;
}
#tomodesign .top-container .scroll::after {
  transform: rotate(-45deg);
  right: calc(50% - 17px);
  -webkit-animation: ar 1s infinite;
  animation: ar 1s infinite;
}
@-webkit-keyframes al {
  0% {
    -webkit-transform: rotate(45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(45deg) translate(3px, 3px);
  }
  40% {
    -webkit-transform: rotate(45deg) translate(0, 0);
  }
}
@keyframes al {
  0% {
    transform: rotate(45deg) translate(0, 0);
  }
  20% {
    transform: rotate(45deg) translate(3px, 3px);
  }
  40% {
    transform: rotate(45deg) translate(0, 0);
  }
}
@-webkit-keyframes ar {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes ar {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-3px, 3px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
.start1,
.start2,
.start3 {
  display: none;
}
.bg-icon {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}
.bg-icon:before {
  content: "";
  background-color: rgba(246, 244, 239, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}
/*#tomodesign .top-container::before {
  content: "";
  background-color: rgba(246, 244, 239, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
  transition: .5s;
}*/
/*トップ部分ここまで*/
#tomodesign #intro .img-wrap {
  width: 40%;
  right: 20px;
  bottom: -50px;
  z-index: -5;
}
#tomodesign #intro .img-wrap img{
  border-radius: 20px;
}
#tomodesign #intro .img-wrap::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}
#tomodesign #profile .title {
  background-image: url(../img/\ keisuke7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#tomodesign #profile .title::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}
#tomodesign #profile .title .uk-padding {
  z-index: 10;
}
#tomodesign .history {
  padding: 25px;
}
#tomodesign .history ul li {
  margin-bottom: 30px;
}
#tomodesign .history ul li p {
  margin-top: 5px;
}
#tomodesign #service .content-wrap {
  padding: 0 25px;
  margin-top: 30px;
}
#tomodesign #service .content-wrap p {
  margin-top: -10px;
}
#tomodesign #experienced .uk-accordion-title {
  cursor: pointer;
}
#tomodesign #experienced .content-wrap {
  padding: 0 25px;
}
#tomodesign #experienced .img-wrap img {
  border-radius: 50%;
  width:60px;
  height: 60px;
}
#tomodesign #last .img-wrap {
  bottom: -20%;
  right: 20px;
  width: 40%;
  z-index: -5;
}
#tomodesign #last .img-wrap::before {
  content: "";
  background-color: rgba(245, 244, 239, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  position: absolute;
}
#tomodesign #experienced .uk-accordion-title::before {
  content: "";
  border-top: 2px solid #bf7757;
  border-right: 2px solid #bf7757;
  height: 0;
  width: 0px;
  transform: rotate(135deg);
  right: 30px;
  top: 30px;
  margin: auto;
  display: block;
  position: absolute;
  padding: 6px;
  transition: 0.5s;
  background-image: unset;
}
#tomodesign #experienced .uk-open .uk-accordion-title::before {
  transform: rotate(-45deg);
}
#tomodesign #price {
  padding-bottom: 0;
}
#tomodesign .price-wrap {
  padding: 0 25px;
}
#tomodesign .price-wrap .box {
  border: solid 5px #707070;
}
#tomodesign .price-wrap .box:nth-child(2) ul {
  width: 210px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .uk-container-small {
    width: 700px !important;
  }
  #tomodesign .top-container .title-wrap h1 {
    font-size: 2.5rem;
    display: 300px;
    width: 450px;
    margin: auto;
  }
  #tomodesign .top-container::before {
    content: "";
    background-color: rgba(246, 244, 239, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    transition: .5s;
  }
  #tomodesign .top-container .img-wrap,
  .bg-icon {
    width: 700px;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  #tomodesign .top-container .title-wrap {
    bottom: 35%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 25px;
    display: none;
  }
}
